.section {
  min-height: 90vh;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #2b2451;
}
.section-title {
  font-size: 2rem;
  text-align: center;
  color: var(--black);
  padding-top: 2rem;
}
.container {
  width: 100%;
  display: flex;
  padding: 1rem;
}
.main-btn {
  background-color: var(--pink);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--pink);
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: var(--white);
  font-size: 1rem;
  font-family: inherit;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
.secondary-btn {
  border: 2px solid var(--pink);
  box-shadow: none;
  background-color: transparent;
  margin: 0;
}
.main-btn:hover {
  box-shadow: 0 0 30px var(--pink);
  transition: all 0.2s ease-in-out;
}
.secondary-btn:hover {
  background-color: var(--pink);
  transition: all 0.2s ease-in-out;
}
.focus-link:focus {
  outline: 2px solid var(--pink);
  border-radius: 10px;
}
/**** Media Queries ****/
@media screen and (min-width: 768px) {
  .main-btn {
    font-size: 1.3rem;
  }
  .secondary-btn {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    width: 70%;
  }
  .main-btn {
    font-size: 2rem;
  }
}
