#projects-section {
  margin-top: 8rem;
  background-color: var(--white-bg);
  color: black;
  min-height: auto;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  column-gap: 1rem;
}
.projects-section__h2 {
  color: var(--black);
}
.load-more-btn {
  margin-bottom: 1rem;
}
@media screen and (min-width: 1536px) {
  .projects {
    width: 70%;
  }
}
