#contact-section {
  background-color: var(--main-bg);
  position: relative;
  overflow: hidden;
  min-height: auto;
}
.contact-rocket {
  display: none;
}
.contact-h2 {
  color: var(--white);
  transition: opacity 0.5s ease-in-out;
}
.contact-h2.success {
  opacity: 0;
}
/**** Form ****/
#contact-form {
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: opacity 0.5s ease-in-out;
}
#contact-form.success {
  opacity: 0;
}
.contact-container {
  flex-direction: column;
  align-items: center;
}
.input-container {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  z-index: 2;
}
.input-label {
  position: absolute;
  color: var(--gray-text);
  left: 0.5rem;
  transition: transform 0.2s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.input-label.active {
  transform: translateY(-40px);
}
.input {
  border: none;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.3rem;
  border-radius: 10px;
}
.input:focus {
  outline-offset: 3px;
}
.message-label {
  position: absolute;
  color: rgb(172, 172, 172);
  left: 0.5rem;
  top: 0.5rem;
  transition: transform 0.2s ease-in-out;
}
.message-label.active {
  transform: translateY(-35px);
}
.contact-textarea {
  resize: none;
}
.contact-btn {
  z-index: 2;
}
/**** Socials ****/
.contact-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 1rem 0;
  z-index: 2;
}
.contact-social {
  font-size: 2rem;
  background-color: var(--pink);
  box-shadow: 0 0 20px var(--pink);
  color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.contact-social:hover {
  box-shadow: 0 0 30px var(--pink);
  transition: all 0.2s ease-in-out;
}
.contact-social-img {
  height: 2rem;
}
/**** Errors ****/
.error {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  color: var(--pink);
  transition: opacity 0.2s ease-in-out;
  font-weight: 700;
}
.error.active {
  opacity: 1;
}
.form-error {
  color: var(--pink);
  font-weight: 700;
  display: none;
}
.form-error.active {
  display: inline-block;
}
/**** Copyright ****/
.copyright {
  color: var(--white);
  margin: 1rem 0;
  font-size: 0.8rem;
}

/**** Success message ****/
.success-message {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  /* transition-delay: 0.5s; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-message.success {
  opacity: 1;
}
.success-text {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.success-img {
  height: 200px;
}
/**** Media Queries ****/
@media screen and (min-width: 500px) {
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .input {
    padding: 1rem 0 1rem 0.5rem;
  }
  .input-label.active {
    transform: translateY(-50px);
  }
  .success-text {
    font-size: 2.5rem;
  }
  .success-img {
    height: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .input-container {
    width: 700px;
  }
  .contact-socials {
    width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-rocket {
    display: inline-block;
    position: absolute;
    height: 950px;
    right: -400px;
    bottom: -50%;
  }
  @media (prefers-reduced-motion: no-preference) {
    /***************
    ** Animations **
    ***************/
    #rocket {
      transform-origin: top;
    }
    #rocket:hover {
      animation: shake 0.5s infinite ease-in-out;
    }
    @keyframes shake {
      0% {
        transform: translate3d(0px, 0px, 0) rotate(0.5deg);
      }
      50% {
        transform: translate3d(0px, -10px, 0) rotate(-0.5deg);
      }
      100% {
        transform: translate3d(0px, 0px, 0) rotate(0.5deg);
      }
    }
  }
}
@media screen and (min-width: 1536px) {
  .contact-rocket {
    right: -300px;
  }
}
