:root {
  --main-bg: #2b2451;
  --white-bg: #eef2ff;
  --black: #100f0f;
  --white: #f2f2f2;
  --gray-text: #8b979a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.app {
  background-color: var(--main-bg);
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
